[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]

passlib = "*"
bcrypt = "*"
argon2_cffi = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.6"
